# Introduction to Scikit-Learn (sklearn)

*This notebook documents my practical exploration of the scikit-learn library for Machine Learning.*

## Topics to cover in this notebook
0. End-to-end Scikit-Learn Workflow
1. Getting our data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions in our data
4. Evaluating the model
5. Improving the model
6. Save and load our trained model
7. Wrap it up all together

In [6]:
#code for what we are going to cover, so we can always refer back to it

our_workflow= [
"0. End-to-end Scikit-Learn Workflow",
"1. Getting our data ready",
"2. Choose the right estimator/algorithm for our problems",
"3. Fit the model/algorithm and use it to make predictions in our data",
"4. Evaluating the model",
"5. Improving the model",
"6. Save and load our trained model",
"7. Wrap it up all together"]

### 0. An end-to-end Scikit-learn Workflow

In [7]:
# 1 Getting our data ready
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt


heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
# Create X which is called features matrix in scikit-learn
X = heart_disease.drop("target", axis=1)

# Create y which is called labels
y = heart_disease["target"]

In [9]:
# 2. Choose the right model and hyperparameters
# Our problem here is a classification problem
#Hyperparameters are like dials on a model that you can adjust to make it better or worse

# Let's try Random Forest

from sklearn.ensemble import RandomForestClassifier #classification machine learing model and it's capable of learning patterns in data
clf = RandomForestClassifier() #clf is short for classifier

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [10]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) # 80% of the data will be used for training and 20% for testing that's why test_size=0.2

In [11]:
clf.fit(X_train, y_train); #fitting the model to the training data

In [12]:
# make a prediction
# still step 3

y_label = clf.predict(np.array([0, 2, 3, 4])) # this will not work because the shape of the array is not the same as the shape of the data

/opt/miniconda3/envs/ml-study-env/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [15]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0])

In [16]:
y_test

142    1
140    1
225    0
93     1
262    0
      ..
186    0
107    1
116    1
65     1
276    0
Name: target, Length: 61, dtype: int64

In [17]:
# 4. Evaluate the model on the training data and test data

clf.score(X_train, y_train) # this will give us the accuracy of the model on the training data

1.0

In [18]:
clf.score(X_test, y_test) # this will give us the accuracy of the model on the test data

0.819672131147541

In [19]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.83      0.80      0.81        30
           1       0.81      0.84      0.83        31

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [20]:
confusion_matrix(y_test, y_preds)

array([[24,  6],
       [ 5, 26]])

In [21]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [22]:
# 5. Improve a model

# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 85.25%

Trying model with 20 estimators...
Model accuracy on test set: 83.61%

Trying model with 30 estimators...
Model accuracy on test set: 81.97%

Trying model with 40 estimators...
Model accuracy on test set: 85.25%

Trying model with 50 estimators...
Model accuracy on test set: 81.97%

Trying model with 60 estimators...
Model accuracy on test set: 83.61%

Trying model with 70 estimators...
Model accuracy on test set: 83.61%

Trying model with 80 estimators...
Model accuracy on test set: 85.25%

Trying model with 90 estimators...
Model accuracy on test set: 83.61%

In [14]:
# 6. Save a model and load it

import pickle #pickle is a module in python that allows you to save a model
# Save an existing model to file

pickle.dump(clf, open("random_forest_model_1.pkl", "wb")) #wb stands for write binary

In [15]:
# Load a saved model
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb")) #rb stands for read binary
loaded_model.score(X_test, y_test)

0.8360655737704918

### Getting the data ready to be used with machine learning

1. Split the data into features and labels (usually 'X' and 'y')
2. Filling (also called imputing) or disregarding missing values
3. Converting non-numerical values to numerical values (also called feature encoding)

In [16]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
# Using pandas

X = heart_disease.drop("target", axis=1) # X is going to be every single column except the target column
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [18]:
y = heart_disease["target"] # y is going to be the target column
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [20]:
#split the data into training and test sets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [21]:
# We'll check the shapes of the data to make sure the shapes are correct for the model

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [22]:
# To verify that the data is split correctly like 80% for training and 20% for testing
# We can check the length of the data

len(heart_disease), len(X_train), len(X_test)

(303, 242, 61)

In [23]:
# We can check by multiplying the shape of the data by 0.8

X.shape[0] * 0.8

242.4

In [24]:
242 + 61 # this should be equal to the length of the data

303